@charset "UTF-8";


/*header*/
#buttons button {
    margin: 30px;
    width: 100px; height: 100px;
    border-radius: 50px;
    border-style: none;
    background-color: #d9d9d9;
}

.icones_topo_direito {
    float: right;
}

#buttons img {
    width: 70px; height: 70px;
}


/*h1 NEWS*/
.news {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding-left: 50px; 
    padding-top: 90px;
    margin-bottom: 70px;
    margin-top: 0;
}


/*Carrossel NEWS*/
.linha_news {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 150px;
    padding-right: 150px;
  }

  .card_news {
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 50px;
    position: relative;
  }
  
  .card_news > img {
    margin-bottom: .75rem;
    width: 590px; height: 400px;
    border-radius: 30px;
  }

  .card_text {
    position: absolute;
    display: table;
    width: 590px; height: 400px;
    margin-top: -415px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .card_text h3 {
    position: relative;
    display: table-cell;
    width: 530px; height: 400px;
    border-radius: 30px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    vertical-align: bottom;
    padding-left: 25px;
  }

  /*h2 Subtopicos FOOD, OUT OF COMMON, FROM YOUR REGION*/
  .subtopico {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 400;
    padding-left: 50px; 
    padding-top: 90px;
    margin-bottom: 70px;
    margin-top: 0;
  }


  /*Carrossel dos subtopicos*/
  .linha_subtopico {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 30px;
    padding-right: 30px;
  }
  .card_subtopico {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 20px;
    position: relative;
  }
  
  .card_subtopico > img {
    margin-bottom: .75rem;
    width: 390px; height: 350px;
    border-radius: 30px;
  }

  .card_text_subtopico {
    position: absolute;
    display: table;
    width: 390px; height: 350px;
    margin-top: -365px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .card_text_subtopico h3{
    position: relative;
    display: table-cell;
    width: 350px; height: 350px;
    border-radius: 30px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    vertical-align: bottom;
    padding-left: 25px;
  }